<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong >Liste des terres</strong>
       
      </c-card-header>
      <c-card-body>
       
        <!--div *ngIf="isLoadingbis" class="text-center">
          <span class="spinner-grow spinner-border-lg custom-spinner" role="status" aria-hidden="true" style="color: #E79A50;"></span>
          
        </div-->
        

        <!-- Affichage de la table si les données sont chargées (isLoading est false) -->
        <table stripedColumns cTable>
          <thead>
            <tr>
             
              <th scope="col">Regions</th>
              <th scope="col">%Clay (%)</th>
              <th scope="col">%Sand (%)</th>
              <th scope="col">%Silt (%)</th>
              <th scope="col">C.E.C (meq/100g)</th>
              <th scope="col">EC(S) (uS/cm)</th>
              <th scope="col">pH</th>
              <th scope="col">Latitude</th>
              <th scope="col">Longitude </th>
             
              
             
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>saly</td>
              
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
